@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;
    background: #ebd6d7;
}

h1 {
    font-weight: 650;
    font-size: 20px;
    margin: auto;
    height: auto;
    text-align: center;
}

h2 {
    font-weight: 650;
    font-size: 18px;
}

figure {
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin: auto;
    }

#main-image {
    overflow: hidden;
    max-width: 75%;
    height: auto;
    margin: auto;
}

header {
    background-color: #392a50;
    text-align: center;
    position: fixed;
    /*z-index: 999; */
    width: 100%;
    height: auto;
    top: 0;
    font-weight: bold;
}

.logo {
    max-width: 30%;
    height: auto;
    text-align: left;
}
.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid (#d85072, .75);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #ebd6d7;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #392a50;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}



nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: white;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

main {
    padding-top: 25%;
}

.main-content {
    margin-left: 30px;
}

.main-content-full {
    display: none;
}

.booklist-content {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: auto;
}

.booklist-box {
    width: 45%;
    margin: auto;
    align-self: stretch;
}

.booklist-box ul {
    list-style-type: none;
}

main img {
    max-width: 75%;
    border-radius: 12px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.accordion {
    background-color: #392a50;
    color: white;
    cursor: pointer;
    margin: 10px;
    padding: 18px;
    width: 90%;
    text-align: center;
    border: none;
    border-radius: 12px;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #393b8c;
}

.panel {
    background-color: #ebd6d7;
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

footer {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background: #392a50;
    height: auto;
    width: 100vw;
    padding: 20px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 20px;
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
}

.footer-bottom {
    background: #393b8c;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}


@media screen and (min-width: 770px) {
   
    body {
        font-size: 1em;
    }

    main {
        padding-top: 15%;
    }

    .main-content {
        display: none;
    }

    .main-content-full {
        display: flex;
        margin: auto;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    
    section.box {
        width: 40%;
        height: auto;
        margin: 2%;
        padding: 2%;
        align-self: flex-start;
        flex-basis: auto;
    }
}

@media screen and (min-width: 1024px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 1 / 2; 
        max-width: 60%;
        height: auto;
        text-align: left;
        }


    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
        grid-column: 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background:#d85072;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }

    main {
        padding-top: 7%;
    }

    h1 {
        font-weight: 650;
        font-size: 45px;
    }

    h2 {
        font-weight: 650;
        font-size: 24px;
    }

    .main-content {
        display: none;
    }

    .main-content-full {
        display: flex;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    

    section.box {
        width: 40%;
        height: auto;
        flex-basis: auto;
    }
}