@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 400;
    background: white;
}

h1 {
    font-weight: 650;
    font-size: 85%;
    margin: auto;
    text-align: center;
}

figure {
    overflow: none;
    max-width: 75%;
    height: auto;
    margin: auto;
}

header {
    background-color: #a2e6e8;
    text-align: center;
    position: fixed;
    /*z-index: 999; */
    width: 100%;
    top: 0;
}

.logo {
    max-width: 50%;
    height: auto;
    text-align: left;
}
.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(black, .75);
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #a2e6e8;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  
  
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
*/
}



nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 1 / 2; 
        max-width: 50%;
        height: auto;
        text-align: left;
        }


    nav {
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;

        grid-column: 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }

    h1 {
        font-weight: 650;
        font-size: 45px;
    }

    .accordion {
        display: none;
    }
}
/* .nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    list-style-type: none;
}

.nav-item a {
    text-decoration: none;
    padding: 2em;
}

.nav-item a, a:visited {
    color: black;
}
*/

main {
    margin-top: 150px;
}

img {
    max-width: 75%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-left: 30px;
}

.main-content {
    margin-left: 30px;
}

.accordion {
    background-color: #a2e6e8;
    color: #444;
    cursor: pointer;
    margin: 10px;
    padding: 18px;
    width: 90%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #5ce1e6;
}

.panel {
    padding: 0 18px;
    background-color: white;
    width: 90%;
    display: none;
    overflow: hidden;
}